__pycache__/
audacity/
distant_speech_recognition/
ESC-50-master/
noise_reduction/
processed/
testaudio/
training_data/
features/
predictions/
models/
VAD-python/
venv/
audio-classification/
pyAudioAnalysis/
.bashrc

notes.txt
dependencies.txt

*.npy
*.ogg
*.h5
